@use 'sass:map';
@use "../../styles/variables" as vars;
@use "../../styles/mixins" as fns;

.container {
  &-root {
    padding-inline: 1rem;
    margin: 0 auto;



    @include fns.up(md) {
      width: 100%;
    }

    @include fns.up(lg) {
      width: map.get(vars.$breakpoints, "lg");
    }

    @include fns.up(xl) {
      width: map.get(vars.$breakpoints, "xl");
    }
  }
}